Repository ProvidenceGeeks/website-frontend, pull requests merged in 2019-04, with the labels that each got.

#183 add loading and error indicator for blog posts
  src/components/blog-posts-list/blog-posts-list.jsx
  src/components/blog-posts-list/blog-posts-list.spec.jsx
Labels: blog, enhancement

#181 use local offset from meetup.com
  src/components/events-list/events-list.jsx
  src/services/date-formatter/date-formatter-service.js
  src/services/date-formatter/date-formatter-service.spec.js
Labels: enhancement, events

#182 update support for NodeJS 10.x
  .circleci/config.yml
  .eslintrc
  package.json
  webpack.config.prod.js
  yarn.lock
Labels: technical
